<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
	<link rel="stylesheet" href="../../main.css" type="text/css"/>
	<!--[if lt IE 7]><link rel="stylesheet" href="../../ie6.css" type="text/css"/><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="../../ie7.css" type="text/css"/><![endif]-->
	<title>Direct3D Project Template - Paul's Projects</title>
</head>

<body class="grey_background">

<div id="menu">
	<a href="../../index.html">
		<img src="../../logo.png" alt="Paul's Projects" style="border: none"/>
	</a>
	<div class="menu_small_spacing">
	</div>
	<ul class="menu_ul">
		<li class="menu_li"><a class="menu_a" href="../../index.html">Home</a></li>
		<li class="menu_li"><a class="menu_a" href="../../metaballs2/metaballs2.html">Metaballs II</a></li>
		<li class="menu_li"><a class="menu_a" href="../../sonicplayer/sonicplayer.html">SonicPlayer</a></li>
		<li class="menu_li"><a class="menu_a" href="../../vmachine/vmachine.html">VMachine</a></li>
		<li class="menu_li"><a class="menu_a" href="../../tutorials/tutorials.html">OpenGL Tutorials</a></li>
		<li class="menu_li"><a class="menu_a" href="../../opengl/projects1.html">OpenGL Projects</a></li>
		<li class="menu_li"><a class="menu_a" href="../../direct3d/projects1.html">Direct3D Projects</a></li>
		<li class="menu2_li"><a class="menu2_a" href="../shadowmap/shadowmap.html">Shadow Mapping</a></li>
		<li class="menu2_li"><a class="menu2_a" href="../celshading/celshading.html">Cel Shading</a></li>
		<li class="menu2_li"><a class="menu2_a" href="../template/template.html">Project Template</a></li>
		<li class="menu_li_bottom"><a class="menu_a" href="../../megareader/megareader.html">MegaReader</a></li>
	</ul>
	<div class="menu_spacing">
	</div>
	<ul class="menu_ul">
		<li class="menu_li_bottom"><a class="menu_a" href="mailto:paul@paulsprojects.net">Contact Me</a></li>
	</ul>
	<div class="menu_spacing">
	</div>
	<div style="text-align: center">
    	<a href="http://validator.w3.org/check?uri=referer">
			<img src="../../thumbnails/valid-xhtml10.png"
        		alt="Valid XHTML 1.0 Strict"
				width="88"
				height="31" 
				style="border: none"/></a>
  		<a href="http://jigsaw.w3.org/css-validator/validator?uri=http://www.paulsprojects.net/main.css">
			<img src="../../thumbnails/valid-css.png"
				alt="Valid CSS"
				width="88"
				height="31" 
				style="border: none"/></a>
	</div>
</div>

<div id="main">
	<h1>Direct3D Project Template</h1>
	<div style="text-align: center">
		<img src="template1.png" alt="Project Template 1" style="border: 3px solid #4040FF"/>
       	&nbsp;
       	<img src="template2.png" alt="Project Template 2" style="border: 3px solid #4040FF"/>
	</div>
	<h2>Description:</h2>
	<p>
		This is a template project, which creates a Direct3D window containing a simple rotating tetrahedron.
		A dialog box will appear allowing you to select resolution, fullscreen etc.
		If supported, this dialog box will also allow you to select a degree of multisample antialiasing.
	</p>
	<p>
		The template includes:
	</p>
	<table style="border: 1px solid #000000">
		<tr>
			<td><b>Bitmap Font</b></td>
			<td>Font for on-screen drawing, using ID3DXFont</td>
		</tr>
		<tr>
			<td><b>Fps Counter</b></td>
			<td>Simple frames per second counter, using timeGetTime()</td>
		</tr>
		<tr>
			<td><b>Log</b></td>
			<td>Singleton error log class</td>
		</tr>
		<tr>
			<td><b>Timer</b></td>
			<td>Timer</td>
		</tr>
		<tr>
			<td><b>Window</b></td>
			<td>Singleton class which creates and destroys the window. This also handles input.</td>
		</tr>
	</table>
	<h2>Requirements:</h2>
    <p>
		DirectX 8.1 Drivers. If you do not have them, visit
		<a href="http://www.microsoft.com/windows/directx/">
			www.microsoft.com/windows/directx/
		</a>
	</p>
	<h2>References:</h2>
    <p>
		Window creation code is derived from that at
    	<a href="http://www.drunkenhyena.com">
			www.drunkenhyena.com
		</a>
	</p>
	<h2>Download:</h2>
    <p>
		<a href="template.zip">
			template.zip (170 KB)
		</a>
	</p>
</div>

</body>

</html>
